<h1>Howdy, <%= current_user.username %></h1>
<p>Your current registered email is <strong><%= current_user.email%></strong></p>
<p>We didn't see you since <strong><%= current_user.last_sign_in_at.to_formatted_s :long_ordinal
 %></strong> </p>
 <p>You've logged in <strong> <%= number_to_human current_user.sign_in_count %> </strong> time(s)</p>
